/*=========== RESET ==========*/
* {
    margin: 0; 
    padding: 0; 
    font-size: 100%;  /*Unidades relativas coloca o font-size 100%*/
    border: none; /*remover bordas*/
    outline: none; /*remover esboço*/
    font-weight: 300; 
    box-sizing: border-box; /*Ou seja, quando usar um padding não vai alterar a dimensão do elemento*/
    font-family: 'Lato', sans-serif; /*Definindo font padrão*/
}

body {
    background-color: #f5f5f5;
}
 
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

#imagemGif {
    margin-left: 15%;
}

/*Cabecalho*/

.cabecalho {
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    position: fixed;
}


label#titulo {
    float: left;
    font-size: 2em;
    padding: 1%;
    margin-top: 0.5%;
}

label#titulo a {
    font-family: Anton, sans-serif;
	text-transform: uppercase;
    color: #000;
}

#btnSair {
    float: right;
    text-decoration: none;
    margin: 1.8% 2%;
    padding: 0.4%;
    border-radius: 10px;
}

#btnSair:hover {
    background: linear-gradient(to right, #FFFF00, #FF0000);
    transition: 0.5s;
}



/*Formatando Menu*/

nav#menu {
	display: block;
}

nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	margin-top: 1%;
	right: 15%;
}

nav#menu li {
	font-size: 1.5em;
	display: inline-block;
	padding: 10px;
	transition: 0.5s; /* Demora um segundo para aparecer  os LI aparecerem */
}

nav#menu li a {
    font-family: 'Oswald', sans-serif;
    color: #000;
    border-radius: 10px;
    padding: 5%;
}

nav#menu li a:hover {
    background: linear-gradient(to right, #FFFF00, #FF0000);
    transition: 0.5;
}

/*LADO DO SITE*/

aside.lateral {
    position: fixed;
    float: left;
    width: 45vh;
    margin-top: 11%;
}

aside.lateral a {
    color: #000;
}

aside.lateral:hover {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}


aside.lateral img { /*Configurando tamanho das imagens*/
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 10vh;
    background-color: rgba(0, 0, 0, 0.05);
}

aside.lateral label {
    font-size: 1.2em;
    font-family: Oswald, sans-serif;
}

aside.lateral div {
    margin-left: 4%;
    padding: 1%;
}

aside.lateral div:hover { /*marcar a div toda quando passar o mouse*/
    border-radius: 2vh;
    background-color: #DCDCDC;
    transition: 0.5s;
}


/*RODAPE*/

.rodape {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85555);
    position: relative;
    margin-top: 20%;
    text-align: center;
}

.rodape p {
    font-family: sans-serif;
    color: #fff;
    font-size: 1.5em;
}

#redes-sociais i {
    font-size: 2.5em;
    padding: 3%;
    color: #fff;
}

#redes-sociais i:hover {
    color: #A9A9A9;
}

.rodape p#infDate {
    width: 100%;
    background: #fff;
    color: #000;
    border: 1px solid #fff;
    opacity: 0.8;
}

.rodape p#copyright {
    padding-top: 2%;
    padding-bottom: 0.5%;
}

/*GERAL DAS PÁGINAS TROCAS E DOACOES*/

/*TITULO*/

h2#tituloDoacoes, h2#tituloTrocas, h2#tituloPrincipal {
    position: fixed;
    float: left;
    font-size: 2em;
    font-family: Oswald, sans-serif;
    margin-top: 6.5%;
    margin-left: 1%;
    color: #8B0000;
    text-decoration: underline #800000;
}

/*CORPO*/

section.corpo {
    width: 80vh;
    height: 35vh;
    margin-left: 28%;
    padding: 1%; /*Para jogar os itens que estavam um pouco para fora*/
    background: #fff;
    border-radius: 2vh;
}

section.corpo div#postagem-parte1 img#imagemUsuario {
    float: left;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 10vh;
}

section.corpo div#postagem-parte1 input {
    float: right;
    margin-right: 20%;
    width: 50vh;
    border-radius: 10vh;
    padding: 2.5%;
    margin-bottom: 1%;
    background: rgba(0, 0, 0, 0.05);
}

section.corpo div#postagem-parte1 button {
    font-family: Oswald, sans-serif;
    width: 30%;
    margin-top: 2%;
    margin-left: 30%;
    background: #8B0000;
    color: #FFF;
    padding: 2%;
    border-radius: 5vh;
}

section.corpo button:hover {
    background: #800000;
}

section.corpo p#bordaCorpo {
    border: 0.5px solid #DCDCDC;
}

section.corpo div#postagem-parte2 {
    margin-left: 13%;
}

/*CORPO 2*/


section.corpo2 {
    width: 80vh;
    height: 70vh;
    margin-left: 28%;
    padding: 1%; /*Para jogar os itens que estavam um pouco para fora*/
    background: #fff;
    border-radius: 2vh;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

section.corpo2 img#imagemUsuario {
    float: left;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 10vh;
}

section.corpo2 label#nomeUsuario {
    font-size: 1.5em;
    font-family: Oswald, sans-serif;
    padding: 2%;
}

section.corpo2 p#dataPostagem {
    float: right;
    text-decoration: underline;
    text-align: center;
}

section.corpo2 p#comentarioUsuario {
    text-align: center;
    margin-bottom: 2%;
}

section.corpo2 img#imagemLivro {
    max-width: 190px;
    max-height: 250px;
    min-width: 190px;
    min-height: 250px;
    margin-left: 30%;
}

section.corpo2 p#bordaCorpo2 {
    width: 100%;
    margin-top: 3%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

section.corpo2 p#iconeDesejados, section.corpo2 p#iconeDenunciar  {
    float: left;
    width: 50%;
    margin-top: 3.5%;
    text-align: center;
    font-size: 1.6em;
}

section.corpo2 p#iconeDesejados i:hover {
    color: #e60000;
    cursor: pointer;
}

section.corpo2 p#iconeDenunciar i:hover {
    color: #1e07a0;
    cursor: pointer;
}