/*=========== RESET ==========*/
* {
    margin: 0; 
    padding: 0; 
    font-size: 100%;  /*Unidades relativas coloca o font-size 100%*/
    border: none; /*remover bordas*/
    outline: none; /*remover esboço*/
    font-weight: 300; 
    box-sizing: border-box; /*Ou seja, quando usar um padding não vai alterar a dimensão do elemento*/
    font-family: 'Lato', sans-serif; /*Definindo font padrão*/
}

body {
    background-color: #f5f5f5;
}
 
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

#imagemGif {
    margin-left: 15%;
}

/*Cabecalho*/

.cabecalho {
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    position: fixed;
}


label#titulo {
    float: left;
    font-size: 2em;
    padding: 1%;
    margin-top: 0.5%;
}

label#titulo a {
    font-family: Anton, sans-serif;
	text-transform: uppercase;
    color: #000;
}

#btnSair {
    float: right;
    text-decoration: none;
    margin: 1.4%;
    padding: 0.4%;
    border-radius: 10px;
}

#btnSair:hover {
    background: linear-gradient(to right, #FFFF00, #FF0000);
    transition: 0.5s;
}



/*Formatando Menu*/

nav#menu {
	display: block;
}

nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: fixed;
	margin-top: 1%;
	right: 15%;
}

nav#menu li {
	font-size: 1.5em;
	display: inline-block;
	padding: 2vh;
	transition: 0.5s; /* Demora um segundo para aparecer  os LI aparecerem */
}

nav#menu li a {
    font-family: 'Oswald', sans-serif;
    color: #000;
    border-radius: 10px;
    padding: 5%;
}

nav#menu li a:hover {
    background: linear-gradient(to right, #FFFF00, #FF0000);
    transition: 0.5;
}

/*LADO DO SITE*/

aside.lateral {
    position: fixed;
    float: left;
    width: 45vh;
    margin-top: 11%;
}

aside.lateral a {
    color: #000;
}

aside.lateral:hover {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}


aside.lateral img { /*Configurando tamanho das imagens*/
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 10vh;
    background-color: rgba(0, 0, 0, 0.05);
}

aside.lateral label {
    font-size: 1.2em;
    font-family: Oswald, sans-serif;
}

aside.lateral div {
    margin-left: 4%;
    padding: 1%;
}

aside.lateral div:hover { /*marcar a div toda quando passar o mouse*/
    border-radius: 2vh;
    background-color: #DCDCDC;
    transition: 0.5s;
}


/*DIV PARA DEIXAR O FUNDO ESCURO QUANDO CLICAR NA FOTO DO PERFIL*/

div.telaFundo {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

/*LADO DO SITE DIREITO*/

aside.lateral-direita {
    float: right;
    padding: 10%;
}

aside.lateral-direita img {
    margin-top: 25%;
}

aside.lateral-direita img#removerMarginTop {
    margin-top: 0;
}

/*RODAPE*/

.rodape {
    width: 100%;
    background: linear-gradient(to right, #FFFF00, #FF0000);
    position: relative;
    margin-top: 20%;
    text-align: center;
}

.rodape p {
    font-family: sans-serif;
    color: #fff;
    font-size: 1.5em;
}

.rodape p#infDate {
    width: 100%;
    color: #fff;
    border: 1px solid #fff;
    opacity: 0.8;
}

.rodape p#copyright {
    padding-top: 2%;
    padding-bottom: 0.5%;
}

/*BOOTSTRAP - RODAPE REDES SOCIAIS*/

div.col-md-12 {
    padding: 2%;
}

div.col-md-12 li{
    margin-right: 2%;
}


ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin-top: 10%;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff
}

.social-network a.icoInstagram:hover {
    background-color: #BD3518
}

.social-network a.icoWhatsapp:hover {
    background-color: #34af23;
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 2.5em;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s
}

.social-circle i {
    color: #fff;
    transition: all 0.8s;
    transition: all 0.8s
}

/*TITULO GERAIS*/

h2#tituloDoacoes, h2#tituloTrocas, h2#tituloPrincipal, h2#tituloPerfil, h2#tituloChat {
    position: fixed;
    float: left;
    font-size: 2em;
    font-family: Oswald, sans-serif;
    margin-top: 6.5%;
    margin-left: 1%;
    color: #8B0000;
    text-decoration: underline;
}

/*GERAL DAS PÁGINAS TROCAS E DOACOES*/

/*CORPO*/

section.corpo {
    width: 38%;
    height: 35vh;
    margin-left: 28%;
    padding: 1%; /*Para jogar os itens que estavam um pouco para fora*/
    background: #fff;
    border-radius: 2vh;
}

section.corpo div#postagem-parte1 img#imagemUsuario {
    float: left;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 10vh;
}

section.corpo div#postagem-parte1 input {
    float: right;
    margin-right: 20%;
    width: 50vh;
    border-radius: 10vh;
    padding: 2.5%;
    margin-bottom: 1%;
    background: rgba(0, 0, 0, 0.05);
}

section.corpo div#postagem-parte1 button {
    font-family: Oswald, sans-serif;
    width: 30%;
    margin-top: 2%;
    margin-left: 30%;
    background: #8B0000;
    color: #FFF;
    padding: 2%;
    border-radius: 5vh;
}

section.corpo button:hover {
    background: #800000;
}

section.corpo p#bordaCorpo {
    border: 0.5px solid #DCDCDC;
}

section.corpo div#postagem-parte2 {
    margin-left: 13%;
}

/*CORPO 2*/


section.corpo2 {
    width: 38%;
    height: 80vh;
    margin-left: 28%;
    padding: 1%; /*Para jogar os itens que estavam um pouco para fora*/
    background: #fff;
    border-radius: 2vh;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

section.corpo2 img#imagemUsuario {
    float: left;
    max-width: 8%;
    max-height: 8%;
    min-width: 8%;
    min-height: 8%;
    border-radius: 10vh;
}

section.corpo2 label#nomeUsuario {
    font-size: 150%;
    font-family: Oswald, sans-serif;
    padding: 2%;
}

section.corpo2 p#dataPostagem {
    float: right;
    text-decoration: underline;
    text-align: center;
}

section.corpo2 p#comentarioUsuario {
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
}

section.corpo2 img#imagemLivro {
    max-width: 190px;
    max-height: 250px;
    min-width: 190px;
    min-height: 250px;
    margin-left: 30%;
}

section.corpo2 p#bordaCorpo2-2, section.corpo2 p#bordaCorpo2-1 {
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

/*icones de reações das transações*/
a#interacaoEuQuero {
    color: #000;
    float: left;
}

a#interacaoEuQuero:active {
    color: #fff;
    background-color: #1E90FF	;
    border-color: #000;
}

a#interacaoDeletar, a#interacaoDenunciar {
    color: #000;
    float: right;
}

a#interacaoDeletar:active, a#interacaoDenunciar:active {
    color: #fff;
    background-color: #DC143C		;
    border-color: #000;
}

a#interacaoEuQuero, a#interacaoDeletar, a#interacaoDenunciar {
    font-size: 3.5vh;
    font-weight: bold;
    margin: 5%;
    padding: 2%;
    border-radius: 10vh;
    background-color: #fff;
    border: 2px solid;
}

/*Deletar Transação*/

section#confirmarDeletar {
    top: 50%; /*essa e as duas outras linhas fazem o bloco ficar no centro de tudo e responsivo*/
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

#telaDeConfirmacaoDeletar {
    position: absolute;
    top: 50%; /*essa e as duas outras linhas fazem o bloco ficar no centro de tudo e responsivo*/
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 40%;
    height: vh;
    background: linear-gradient(to right, #FFFF00, #FF0000);
    border-radius: 10vh;    
    color: #000;
}   

#telaDeConfirmacaoDeletar p {
    margin-top: 5%;
    margin-bottom: 5%;
    color: #000;
    text-decoration: underline;
    font-family: Oswald, sans-serif;
    font-size: 1.5em;
}

#telaDeConfirmacaoDeletar a {
    width: 20%;
    margin-bottom: 3%;
    padding: 2.5%;
    background: linear-gradient(to right, #FF0000, #FFFF00);
    color: #000;
    border-radius: 10px;
    border: 2px solid #000;
}

#telaDeConfirmacaoDeletar a#botaoSimDeletar {
    float: left;
    margin-left: 20%;
}

#telaDeConfirmacaoDeletar a#botaoNaoDeletar {
    float: right;
    margin-right: 20%;
}

#telaDeConfirmacaoDeletar a#botaoNaoDeletar:hover, #telaDeConfirmacaoDeletar a#botaoSimDeletar:hover {
    transform: scale(1.05);
    transition: 1s;
}