/*=========== RESET ==========*/
* {
    margin: 0; 
    padding: 0; 
    font-size: 100%;  /*Unidades relativas coloca o font-size 100%*/
    border: none; /*remover bordas*/
    outline: none; /*remover esboço*/
    font-weight: 300; 
    box-sizing: border-box; /*Ou seja, quando usar um padding não vai alterar a dimensão do elemento*/
    font-family: Oswald, sans-serif;
}

body {
    background-color: #f5f5f5;
}
 
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

#imagemGif {
    margin-left: 15%;
}

/*Cabecalho*/

.cabecalho {
    position: fixed;
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

img#logo {
    max-width: 150px;
}


img#logo {
    position: fixed;
    float: left;
    margin-left: 2%;
    margin-top: 0.2%;
}

#btnSair {
    float: right;
    text-decoration: none;
    margin: 2.2%;
}

#btnSair:hover {
    transform: scale(1.1);
    transition: 0.5s;
}



/*Formatando Menu*/

nav#menu {
	display: block;
}

nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: fixed;
	margin-top: 1%;
	right: 15%;
}

nav#menu li {
	font-size: 1.6em;
	display: inline-block;
	padding: 2vh;
	transition: 0.5s; /* Demora um segundo para aparecer  os LI aparecerem */
}

nav#menu li a {
    color: #000;
    padding: 5%;
}

nav#menu li a:hover {
    border-bottom: 2px solid;
    transition: 0.5;
}

/*LADO DO SITE*/

aside.lateral {
    position: fixed;
    left: 0;
    width: 45vh;
    margin-top: 11%;
}

aside.lateral-direita {
    position: fixed;
    right: 0;
    width: 45vh;
    height: 1%;
    margin-top: 7%;
}

aside.lateral a {
    color: #000;
}


aside.lateral img, aside.lateral-direita img { /*Configurando tamanho das imagens*/
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 10vh;
    background-color: rgba(0, 0, 0, 0.05);
}

aside.lateral label, aside.lateral-direita label {
    margin-left: 2%;
    font-size: 1.5em;
}

aside.lateral div  {
    margin-left: 4%;
    padding: 3%;
}
aside.lateral-direita div {
    margin-right: 4%;
    padding: 3%;
}

aside.lateral div:hover, aside.lateral-direita div:hover { /*marcar a div toda quando passar o mouse*/
    border-radius: 2vh;
    background-color: #DCDCDC;
    transition: 0.5s;
}


/*DIV PARA DEIXAR O FUNDO ESCURO QUANDO CLICAR NA FOTO DO PERFIL*/

div.telaFundo {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh; /*vai pegar 100%*/
    background-color: rgba(0, 0, 0, 0.7);
}

/*RODAPE*/

.rodape {
    position: absolute;
    bottom: -100;
    width: 100%;
    background: linear-gradient(to right, #FFFF00, #FF0000);
    text-align: center;
    margin-top: 50%;
}

.rodape p {
    color: #fff;
    font-size: 1em;
}

.rodape p#infDate {
    width: 100%;
    color: #fff;
    border: 1px solid #fff;
    opacity: 0.8;
}

.rodape p#copyright {
    padding-top: 1%;
    padding-bottom: 0.2%;
}


/*BOOTSTRAP - RODAPE REDES SOCIAIS*/

div.col-md-12 {
    padding: 0.5%;
}

div.col-md-12 li{
    margin-right: 2%;
}


ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoInstagram:hover {
    background-color: #BD3518;
}

.social-network a.icoWhatsapp:hover {
    background-color: #34af23;
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 2em;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    transition: all 0.8s;
}

/*TITULO GERAIS*/

h2#tituloDoacoes, h2#tituloTrocas, h2#tituloPrincipal, h2#tituloPerfil, h2#tituloChat {
    position: fixed;
    float: left;
    font-size: 2em;
    margin-top: 6.5%;
    margin-left: 1%;
    color: #8B0000;
    text-decoration: underline;
}



/*INTERAÇÃO DAS POSTAGENS*/

div#interacaoQuantidades {
    color: #696969;
}
div#interacaoQuantidades p#quantidadeCurtidas {
    float: left;
}

div#interacaoQuantidades p#quantidadeComentarios {
    float: right;
}

div#interacao {
    margin-top: 12%;
}

div#interacao a {
    color: #000;
    padding: 1%;
    padding-left: 9%;
    padding-right: 9%;
    margin-left: 3.7%;
    border-radius: 1vh;
    cursor: pointer;
}

div#interacao a:hover {
    background-color: #DCDCDC;
}