/*DIV PARA DEIXAR O FUNDO ESCURO QUANDO CLICAR NA FOTO DO PERFIL*/

div.telaFundo {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}
 
/*ESSA PARTE VAI MOSTRAR A TELA PRA MODIFICAR IMAGENS E TELA ATUALIZAR DADOS E CADASTRAR CAPA*/


/*MODIFICAR IMAGEM E DADOS E CAPA*/ 
form.cadastrarImagem, form.atualizarDados, form.cadastrarCapa {
    position: absolute;
    text-align: center;
    display: none; /*não mostrar essa tela inicialmente*/
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
    background: linear-gradient(to right, #FFFF00, #FF0000);
    border-radius: 30px;
}

form.cadastrarImagem p, form.atualizarDados p, form.cadastrarCapa p {
    color: #000;
    text-decoration: underline;
    font-family: Oswald, sans-serif;
    font-size: 1.5em;
}

form.cadastrarImagem a#btnFechar, form.atualizarDados a#btnFechar2, form.cadastrarCapa a#btnFechar3 {
    float: right;
    color: #000;
    font-size: 2em;
    padding: 2%;
}

form.cadastrarImagem input#enviarArquivo, form.atualizarDados input#enviarArquivo2, form.cadastrarCapa input#enviarArquivo3 {
    width: 15%;
    background: linear-gradient(to right, #FF0000, #FFFF00);
    color: #000;
    padding: 2%; 
    margin-bottom: 5%;
    border-radius: 10px;
    border: 2px solid #000;
}

form.cadastrarImagem input#enviarArquivo:hover, form.atualizarDados input#enviarArquivo2:hover, form.cadastrarCapa input#enviarArquivo3:hover {
    transform: scale(1.05);
    transition: 1s;
}

/*TELA MODIFICAR IMAGEM*/
form.cadastrarImagem input#escolherArquivo {
    color: #fff;
}

/*TELA ATUALIZAR DADOS*/ 
form.atualizarDados input {
    background: #000;
    color: #fff;
    width: 35%;
    border-radius: 10vh;
    padding: 0.8%;
}


/*CORPO*/

.corpo-perfil p#mensagemInicial {
    text-align: center;
    font-size: 2em;
    font-family: Oswald;
    margin: 1%;
}

<<<<<<< HEAD
=======
.corpo-perfil div#transacoes {
    position: fixed;
    width: 100%;
    height: 7vh;
    background: linear-gradient(to right, #FFFF00, #FF0000);
} 

.corpo-perfil div#transacoes img {
    float: right;
    border: 3px solid #FFF;
    border-radius: 20px;
    margin: 0.5%;
}

.corpo-perfil div#transacoes img:hover {
    background: #FFF;
    transform: scale(1.1);
    transition: 0.3s;
} 
>>>>>>> 0dd3e75e09e30a497b8da83755bbd2289863fb3f

.corpo-perfil div#perfil {
    margin-left: 25%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 90vh;
    height: 40vh;
    padding: 1%;
}

.corpo-perfil div#perfil img {
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
    float: left;
    border-radius: 100%;
    border: 3px solid #FFF;
}

<<<<<<< HEAD
=======
.corpo-perfil div#perfil img:active {
    transform: scale(1.03);
    transition: 0.5s;
}

>>>>>>> 0dd3e75e09e30a497b8da83755bbd2289863fb3f
.corpo-perfil div#perfil label#nomeUsuario {
    font-size: 3em;
    font-family: Oswald, sans-serif;
    margin-left: 5%;
}

.corpo-perfil div#perfil label#contato {
    font-family: Oswald, sans-serif;
    margin-left: 15%;
}

.corpo-perfil div#perfil button#editarInformacoes {
    margin-top: 1%;
    float: right;
    background: #8B0000;
    font-family: Oswald, sans-serif;
    color: #fff;
    border-radius: 10vh;
    padding: 0.5%;
}

.corpo-perfil div#perfil button#editarInformacoes:hover {
    background-color: #800000;
}

.corpo-perfil img#capaPerfil {
    width: 90vh;
    height: 40vh;
    margin-left: 25%;
}
<<<<<<< HEAD
=======

.corpo-perfil img#capaPerfil:active {
    transform: scale(1.01);
    transition: 0.5s;
}
>>>>>>> 0dd3e75e09e30a497b8da83755bbd2289863fb3f
