/*Corpo - imagens doar e trocar*/

div#doar-trocar {
    color: #fff;
}

#doar-trocar h1 {
    font-family: Anton, sans-serif;
    background-color: #FF0000;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2.5%;
}

#doar-trocar p {
    float: left;
    width: 53%;
    font-family: 'Averia Serif Libre', sans-serif;
    font-size: 2em;
    color: #000;
    margin-left: 2%;
}

#imgDoar, #imgTrocar {
    float: right;
    background: linear-gradient(to right,#FF0000, #FFFF00);
    border-radius: 10px;
    padding: 1.5%;
    margin-right: 5%;
    margin-bottom: 1%;
}

#imgDoar:hover, #imgTrocar:hover {
    background: linear-gradient(to right, #FFFF00, #FF0000);
}