/*=========== RESET ==========*/
* {
    margin: 0; 
    padding: 0; 
    font-size: 100%;  /*Unidades relativas coloca o font-size 100%*/
    border: none; /*remover bordas*/
    outline: none; /*remover esboço*/
    font-weight: 300; 
    box-sizing: border-box; /*Ou seja, quando usar um padding não vai alterar a dimensão do elemento*/
    font-family: 'Lato', sans-serif; /*Definindo font padrão*/
}

body {
    background-color: #f5f5f5;
}
 
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

#imagemGif {
    margin-left: 15%;
}