/*=========== RESET ==========*/
* {
    margin: 0; 
    padding: 0; 
    font-size: 100%;  /*Unidades relativas coloca o font-size 100%*/
    border: none; /*remover bordas*/
    outline: none; /*remover esboço*/
    font-weight: 300; 
    box-sizing: border-box; /*Ou seja, quando usar um padding não vai alterar a dimensão do elemento*/
    font-family: 'Lato', sans-serif; /*Definindo font padrão*/
}

body {
    background-color: #f5f5f5;
}
 
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}


/*Cabecalho*/

.cabecalho {
    width: 100%;
    height: 50px;
}

#iconeUsuario {
    float: left;
    padding: 1%;
}

#usuarioLogado {
    float: left;
    padding: 1%;
}

#btnSair {
    float: right;
    font-size: 1.3em;
    color: #DC143C;
    text-decoration: none;
    width: 6%;
    padding: 0.2%;
    margin-top: 1.75%;
    margin-right: 2%;
    border: 2px solid #FF0000;
    border-radius: 10px;
}

#btnSair:hover {
    color: #fff;
    background-color: #FF0000;
    transition: 0.5;
}

/*Formatando Menu*/

nav#menu h1 {
	display: none;
}

nav#menu {
	display: block;
}

nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: 3.5%;
	right: 15%;
}

nav#menu li {
	font-family: 'Hanalei Fill', cursive;
	font-size: 1.3em;
	display: inline-block;
	padding: 10px;
	transition: 0.5s; /* Demora um segundo para aparecer  os LI aparecerem */
}

nav#menu li a {
    color: #DC143C;
    border-radius: 10px;
    padding: 10%;
}

nav#menu li a:hover {
    color: #fff;
    background-color: #FF0000;
    transition: 0.5;
}

/*Corpo - figure*/

figcaption {
    position: absolute
}

#inicio {
    position: relative;
}

/*Corpo - imagens doar e trocar*/

div#doar-trocar {
    background-color: #FF0000;
    color: #fff;
}

#doar-trocar h1 {
    font-size: 2em;
    text-align: center;
}

#imgDoar, #imgTrocar {
    background: linear-gradient(to right,#FF0000, #FFFF00);
    border-radius: 10px;
    padding: 1.5%;
    margin-top: 2%;
}

#imgDoar:hover, #imgTrocar:hover {
    background: linear-gradient(to right, #FFFF00, #FF0000);
}

#imgDoar {
    float: left;
    margin-left: 40%;
}

#imgTrocar {
    float: right;
    margin-right: 40%;
}