/*=========== RESET ==========*/
* {
    margin: 0; 
    padding: 0; 
    font-size: 100%;  /*Unidades relativas coloca o font-size 100%*/
    border: none; /*remover bordas*/
    outline: none; /*remover esboço*/
    font-weight: 300; 
    box-sizing: border-box; /*Ou seja, quando usar um padding não vai alterar a dimensão do elemento*/
    font-family: 'Lato', sans-serif; /*Definindo font padrão*/
}

body {
    background-color: #f5f5f5;
}
 
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}


/*Cabecalho*/

.cabecalho {
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #000;
}

label#titulo a {
    float: left;
    font-family: Anton, sans-serif;
    color: #000;
    font-size: 2em;
	text-transform: uppercase;
    padding: 1%;
    margin-top: 0.5%;
}

#btnSair {
    float: right;
    text-decoration: none;
    margin: 1.8% 2%;
    padding: 0.4%;
    border-radius: 10px;
}

#btnSair:hover {
    background: linear-gradient(to right, #FFFF00, #FF0000);
    transition: 0.5s;
}

/*Formatando Menu*/

nav#menu {
	display: block;
}

nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: 2.5%;
	right: 15%;
}

nav#menu li {
	font-size: 1.5em;
	display: inline-block;
	padding: 10px;
	transition: 0.5s; /* Demora um segundo para aparecer  os LI aparecerem */
}

nav#menu li a {
    font-family: 'Oswald', sans-serif;
    color: #000;
    border-radius: 10px;
    padding: 5%;
}

nav#menu li a:hover {
    background: linear-gradient(to right, #FFFF00, #FF0000);
    transition: 0.5;
}


/*CORPO*/

.corpo p#mensagemInicial {
    text-align: center;
    font-size: 2em;
    font-family: Oswald;
    margin: 1%;
}

.corpo div#transacoes {
    position: absolute;
    width: 100%;
    background: linear-gradient(to right, #FFFF00, #FF0000);
} 

.corpo div#transacoes img {
    float: right;
    border: 3px solid #FFF;
    border-radius: 20px;
    margin: 0.5%;
}

.corpo div#transacoes img:hover {
    background: #FFF;
    transition: 1s;
}

.corpo div#perfil img {
    max-width: 150px; 
    max-height: 150px;
    margin-left: 5%;
    float: left;
    border-radius: 100%;
    border: 3px solid #FFFF00;
}

.corpo div#perfil button {
    float: left;
}

.corpo div#perfil label {
    font-size: 2em;
    font-family: Oswald;
    margin: 5%;
}

.corpo div#perfil {
    border-bottom: 2px solid #000;
}

.corpo form#cadastrarImagem {
    text-align: center;
    display: none; /*não mostrar essa tela inicialmente*/
    width: 30%;
    margin: 5%;
    background-color: #FFFF00;
}

.corpo form#cadastrarImagem p {
    font-family: Oswald, sans-serif;
    font-size: 1.5em;
}


.corpo form#cadastrarImagem input#enviarArquivo {
    width: 15%;
    background-color: #FF0000;
    color: #fff;
    padding: 2%;
    margin-top: 2%;
    border-radius: 10px;
}

.corpo form#cadastrarImagem a {
    float: right;
    padding: 1%;
}